<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="log_directory">logs</Property>
        <Property name="info_file">info.log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>

        <RollingFile name="info_file"
                     fileName="${log_directory}/${info_file}"
                     filePattern="${path}$${date:yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{dd.MM.yy HH:mm:ss}{GMT+0} %level %c{2} %n%m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>

        <Async name="async">
            <AppenderRef ref="console"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="async"/>
            <AppenderRef ref="info_file">
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </AppenderRef>
        </Root>
    </Loggers>
</Configuration>